base {
  font-family: Arial, sans-serif;
  margin: 20px;
}

titulo {
  font-size: 15px;
  color: #333;
  margin-bottom: 10px;
}

titulo:after {
  content: '';
  display: block;
  border-bottom: 2px solid #000;
  margin-top: 5px;
}

web {
  font-size: 25px;
  margin-top: 10px;
  display: block;
}

grupociclos {
  display: flex;
  flex-wrap: wrap;
}

ciclo {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(20% - 20px);
  box-sizing: border-box;
}

nome {
  display:block;
  background-color: RGB(130, 224, 170);
  font-size: 16px;
  margin-bottom: 5px;
}

tipo {
  background-color: RGB(130, 224, 170);
  display:block;
  margin-bottom: 5px;
}

ano {
  background-color: RGB(130, 224, 170);
  display:block;
  margin-bottom: 5px;
}
