tempo{
    display: flex;
    flex-wrap: wrap;
    border-style:solid;
    margin-right:40%;
}
    poboacion{
        display:inline;

    }
        nome{
            display: flex;
            font-size:250%;
            background-color:black;
            color:white;

        }
            comarca{
                display:none;
            }
        data{
            display:block;
            font-size:200%;
            color:red;
        }
    previsions{
        display: flex;
        flex-wrap: wrap;
    }
    prevision {
        display: flex;
        flex-wrap: wrap;

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border-left: none;
        border-top: none;
        border-bottom: none;
        width: 200px;
        height: 150px;
    }
    maxima,minima,vento{
        display:none;
    }
    [estado="soleado"]{
        background-image: url(sol.png);
    }
    [estado="chuvia"]{
        background-image: url(chuvia.png);
    }
    [estado="neve"]{
        background-image: url(neve.png);
    }
    [estado="nuboso"]{
        background-image: url(nuboso.png);
    }







